RewriteEngine On
RewriteBase /

RewriteRule ^admin/login/?$  /dyn/admin/main/$1/?page=login [L,QSA]
RewriteRule ^admin/?$  /dyn/admin/main/$1/?page=devices [L,QSA]
RewriteRule ^admin/carwashes$  /dyn/admin/main/$1/?page=carwashes [L,QSA]
RewriteRule ^admin/carwash/(.*)$  /dyn/admin/main/$1/?page=carwash [L,QSA]

RewriteRule ^login$  /dyn/main/main/$1/?page=login [L,QSA]
RewriteRule ^ping$  /dyn/device/do_ping/$1/ [L,QSA]
RewriteRule ^image$  /dyn/device/do_image/$1/ [L,QSA]
RewriteRule ^devices$  /dyn/main/main/$1/?page=devices&package=carwash [L,QSA]
RewriteRule ^changepass$ /dyn/main/main/$1/?page=changepass&package=carwash [L,QSA]
RewriteRule ^counterhistory(.*)$ /dyn/main/main/$1/?page=device_counter_history&package=carwash [L,QSA]
RewriteRule ^image/(.*)$	/dyn/main/do_get_image/$1/ [L,QSA]

RewriteRule ^/?$ /dyn/main/main [L,QSA] 
RewriteRule ^dyn(/.+)?/?$ /index1.php?_url=$1 [L,QSA]